.login-signup-container {
  height: auto;
  background-color: white;
}
.background-wrap {
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}
.title-login-signup{
  font-family: 'Aclonica';
}
.form-input-field {
  width: 80%;
}
.todo-container {
  width: 60%;
  border: .2px solid lightgray;
  margin: 20px auto;
}
.todo-infor {
  list-style-type: none;
  position: relative;
  padding-left: 0 !important;
}
.todo-infor > li {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.todo-body {
  list-style-type: none;
  padding-left: 0 !important;
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
}
.todo-body .todo-items {
  padding: 10px;
  width: 100% !important;
  font-family: Architects Daughter;
}
.todo-items:hover .remove-items {
  display: inline-block;
}
.remove-items {
  margin-left: auto;
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: lightslategray;
}
.remove-items:hover {
  color: black;
}
.morph-div {
  position: absolute;
  bottom: -40px;
  left: -40px;
}
#todo-add-unique .q-field__native {
  color: white !important;
  font-size: 17px;
}
.fadeInUp {
  transition: all .3s ease;
}
.fadeOutDown {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
