<!--<style scoped src="./styles/index.css" ></style>-->
<style scoped>
@import '../css/app.css';
</style>

<template>
  <q-layout class="background-wrap flex justify-end row">
    <q-page-container class="login-signup-container col-sm-12 col-md-4 text-center">
      <h3 class="text-center title-login-signup text-negative">Todo app</h3>
      <q-avatar size="50px" font-size="30px" color="teal" text-color="white" icon="login" />
      <h4 class="text-center title-login-signup">Login</h4>
      <q-form @submit="onLogin">
        <div class="q-mx-auto form-input-field">
          <q-input rounded outlined type="email" class="q-mt-xl" v-model="email" label="Email" />
          <q-input rounded outlined v-model="password" :type="showPassword ? 'password' : 'text'" class="q-mt-lg" label="Password">
            <template v-if="password !== ''" v-slot:append>
              <q-icon class="cursor-pointer" @click="showPassword = !showPassword"
                      :name="showPassword ? 'visibility_off' : 'visibility'"/>
            </template>
          </q-input>
          <div class="flex full-width q-mt-sm q-mb-md justify-between items-center">
            <q-checkbox size="md" v-model="rememberMe" val="md" label="Remember me" />
            <router-link style="text-decoration: none" to="/signup">Sign up!</router-link>
          </div>
          <div class="full-width">
            <q-btn color="primary"
                   type="submit"
                   style="width: 60%;font-size: 18px">
              <template v-if="!this.loading" >Login</template>
              <template v-else >
                <q-spinner-hourglass class="on-left" />
                Loading...
              </template>
            </q-btn>
          </div>
        </div>
      </q-form>
      <p class="q-mt-lg text-blue-grey-6">Todo app @2020</p>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      email: localStorage.getItem('email') ? localStorage.getItem('email') : '',
      password: localStorage.getItem('password') ? localStorage.getItem('password') : '',
      showPassword: true,
      rememberMe: true
    }
  },
  methods: {
    ...mapActions({
      setLoading: 'app/setLoading',
      setDoneLoading: 'app/setDoneLoading'
    }),
    async onLogin (e) {
      e.preventDefault()
      if (this.email === '' || this.password === '') {
        this.$q.notify({
          message: 'Email or password not be empty!.',
          color: 'negative',
          position: 'top-right',
          timeout: 500
        })
      } else {
        this.setLoading()
        await this.$store.dispatch('app/login', {
          email: this.email,
          password: this.password,
          rememberMe: this.rememberMe
        })
        this.setDoneLoading()
        if (this.getLoginStatus.fail) {
          console.log(this.getLoginStatus.fail)
          this.$q.notify({
            message: this.getLoginStatus.fail,
            color: 'negative',
            position: 'top-right',
            timeout: 500
          })
        } else {
          this.$q.notify({
            message: this.getLoginStatus.success,
            color: 'positive',
            position: 'top-right',
            timeout: 500
          })
          await this.$router.push('/')
        }
      }
    }
  },
  computed: {
    ...mapGetters('app', [
      'user',
      'getLoading',
      'getLoginStatus'
    ]),
    loading () {
      return this.getLoading
    }
  }
}
</script>

<style scoped>

</style>
