<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
          </q-avatar>
          Todos App
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
     <div class="todo-container shadow-5">
       <q-skeleton v-if="getLoading" height="350px">
         <q-skeleton class="q-mt-xl q-mx-auto" width="600px" height="50px" />
         <q-skeleton class="q-mt-sm q-mx-auto" width="600px" height="50px" />
         <q-skeleton class="q-mt-sm q-mx-auto" width="600px" height="50px" />
       </q-skeleton>
       <ul v-else class="todo-infor flex justify-between items-center q-pr-none q-mx-md q-ml-none">
          <li>
            Complete: {{ getTodosComplete }}
          </li>
         <li>
           Doing: {{ getTodosDoing }}
         </li>
         <li>
           <q-btn @click="clearComplete" color="deep-orange" glossy label="Clear complete" />
         </li>
         <q-separator class="q-mt-sm" />
         <q-list bordered separator class="todo-body q-mb-lg">
           <TodoItem v-for="(todo,index) in getTodos"
                     :key="index"
                     :todo="todo"
           />
         </q-list>
         <TodoAdd/>
         <TodoFilter/>
       </ul>
     </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import TodoItem from 'components/TodoItem'
import TodoFilter from 'components/TodoFilter'
import TodoAdd from 'components/TodoAdd'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MainLayout',
  components: { TodoItem, TodoFilter, TodoAdd },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('app', [
      'user',
      'getLoading',
      'getTodosDoing',
      'getTodosComplete',
      'getTodos'
    ])
  },
  methods: {
    ...mapActions({
      fetchTodos: 'app/fetchTodos',
      setLoading: 'app/setLoading',
      setDoneLoading: 'app/setDoneLoading',
      onClearComplete: 'app/onClearComplete'
    }),
    async clearComplete () {
      this.$q.loading.show()
      await this.onClearComplete()
      this.$q.loading.hide()
    }
  },
  async created () {
    await this.setLoading()
    await this.fetchTodos()
  }
}
</script>
