<!--<style scoped src="./styles/index.css" ></style>-->
<style scoped>
@import '../css/app.css';
</style>

<template>
  <q-layout class="background-wrap flex justify-start row">
    <q-page-container class="login-signup-container col-sm-12 col-md-4 text-center">
      <h3 class="text-center title-login-signup text-negative">Todo app</h3>
      <q-avatar size="50px" font-size="30px" color="teal" text-color="white" icon="how_to_reg" />
      <h4 class="text-center title-login-signup">Sign up</h4>
      <q-form>
        <div class="q-mx-auto form-input-field">
          <q-input rounded outlined type="email" class="q-mt-xl" label="Email" />
          <q-input rounded outlined v-model="password"
                   :type="showPassword ? 'password' : 'text'"
                   class="q-mt-lg"
                   label="Password">
            <template v-if="password !== ''" v-slot:append>
              <q-icon class="cursor-pointer" @click="showPassword = !showPassword"
                      :name="showPassword ? 'visibility_off' : 'visibility'"/>
            </template>
          </q-input>
          <q-input rounded outlined v-model="confirmPassword"
                   :type="showConfirm ? 'password' : 'text'"
                   class="q-mt-lg"
                   label="Confirm password">
            <template v-if="confirmPassword !== ''" v-slot:append>
              <q-icon class="cursor-pointer" @click="showConfirm = !showConfirm"
                      :name="showConfirm ? 'visibility_off' : 'visibility'"/>
            </template>
          </q-input>
          <div class="flex full-width q-mt-sm q-mb-md justify-between items-center">
            <q-checkbox size="md" v-model="check" val="md" label="Agree to our terms of use" />
            <router-link style="text-decoration: none" to="/login">Login!</router-link>
          </div>
          <div class="full-width">
            <q-btn color="primary"
                   style="width: 60%;font-size: 18px"
                   label="Sign up" />
          </div>
        </div>
      </q-form>
      <p class="q-mt-lg text-blue-grey-6">Todo app @2020</p>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'SignUp',
  data () {
    return {
      password: '',
      showPassword: true,
      check: false,
      confirmPassword: '',
      showConfirm: true
    }
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
