<template>
  <transition name = "fade">
    <q-item clickable class="flex todo-items items-center">
      <q-checkbox @input="completeTodoTask" v-bind:value="complete" left-label />
      <input v-focus
             v-if="edit"
             type="text"
             @keyup.enter="doneEdit"
             @blur="exitEdit"
             @keyup.esc="exitEdit"
             :value="todo.title" />
      <p @dblclick="onEdit" v-else class="text-h5 q-pl-sm q-mb-none">{{ todo.title }}</p>
      <div @click="removeItem" class="remove-items">
        &times;
      </div>
      <q-tooltip :content-style="{ fontSize: '15px' }" anchor="center middle"
                 self="center middle">
        Todo created at: {{ day }}
      </q-tooltip>
    </q-item>
  </transition>
</template>

<script>
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
import { mapActions } from 'vuex'

export default {
  name: 'TodoItem',
  data () {
    return {
      edit: false,
      day: null
    }
  },
  created () {
    dayjs.extend(relativeTime)
    this.day = dayjs(this.todo.createdAt).fromNow()
  },
  props: {
    todo: {
      type: [Array, Object],
      required: true
    }
  },
  computed: {
    complete () {
      return this.todo.status
    }
  },
  methods: {
    ...mapActions({
      deleteTask: 'app/deleteTask',
      completeTask: 'app/completeTask'
    }),
    async completeTodoTask () {
      this.$q.loading.show()
      await this.completeTask({
        id: this.todo.todosID,
        status: this.complete
      })
      this.$q.loading.hide()
    },
    onEdit () {
      this.edit = true
    },
    doneEdit () {
    },
    exitEdit () {
      this.edit = false
    },
    async removeItem () {
      this.$q.loading.show()
      await this.deleteTask(this.todo.todosID)
      this.$q.loading.hide()
      this.$q.notify({
        message: 'Success!',
        color: 'positive',
        position: 'top-right',
        timeout: 500
      })
    }
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus()
      }
    }
  }
}
</script>

<style scoped>

</style>
