<template>
  <div class="full-width flex justify-end">
    <q-btn-dropdown
      split
      color="teal"
      rounded
      label="Filter"
    >
      <q-list>
        <q-item clickable v-close-popup>
          <q-item-section>
            <q-item-label>All</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon name="clear_all"/>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup>
          <q-item-section>
            <q-item-label class="text-negative">Doing</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon name="hourglass_empty" color="negative" />
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup>
          <q-item-section>
            <q-item-label class="text-positive" >Complete</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon name="done" color="positive" />
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script>

export default {
  name: 'TodoFilter'
}
</script>

<style scoped>

</style>
