<template>
  <div id="todo-add-unique" class="q-pa-md morph-div relative-position">
    <q-btn
      v-morph:btn:mygroup:300.resize="morphGroupModel"
      class="absolute-bottom-left"
      fab
      color="primary"
      size="lg"
      icon="add"
      @click="nextMorph"
    />

    <q-card
      v-morph:card1:mygroup:500.resize="morphGroupModel"
      class="absolute-bottom-left q-ma-md bg-primary text-white"
      style="width: 300px; border-bottom-left-radius: 2em"
    >
      <q-card-section class="text-h6">
        Add new task
      </q-card-section>

      <q-card-section class="q-py-none text-subtitle1">
        <q-input rounded id="addTask"
                 outlined v-model="newTask"
                 color="grey-1"/>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancel" @click="nextMorph" />
        <q-btn flat label="Save" @click="addTask" />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

const nextMorphStep = {
  btn: 'card1',
  card1: 'btn'
}
export default {
  name: 'TodoAdd',
  data () {
    return {
      morphGroupModel: 'btn',
      newTask: ''
    }
  },
  methods: {
    ...mapActions({
      addTask: 'app/addTask'
    }),
    nextMorph () {
      this.morphGroupModel = nextMorphStep[this.morphGroupModel]
    },
    async addTask () {
      this.$q.loading.show()
      if (this.newTask.trim() === '') {
        this.$q.notify({
          message: 'Title must not be empty!',
          color: 'negative',
          position: 'top-right',
          timeout: 500
        })
      } else {
        await this.$store.dispatch('app/addTask', this.newTask)
        this.newTask = ''
        this.$q.notify({
          message: 'Success!',
          color: 'positive',
          position: 'top-right',
          timeout: 500
        })
      }
      this.$q.loading.hide()
      this.morphGroupModel = nextMorphStep[this.morphGroupModel]
    }
  }
}
</script>

<style scoped>

</style>
